<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="banner-area">
    <div class="image">
        <img id="map">
    </div>
    <div class="accomodation">
        <ol>
            <li id="new">Trip Type:<br>One Way</li>
            <li id="new">Start:<br>Lorem</li>
            <li id="new">End:<br>Ispum</li>
            <li id="new">Departure:<br>23 AUG</li>
            <li id="new">Class:<br>Business</li>
            <li id="new">Travellers:<br>Adult 1</li>
            <li id="new">Search<br>Another</li>
        </ol>
    </div>
    <div class="title-area">
        <p class="subtitle">Flights From <br>
             LOREM to IPSUM
        </p> 
    </div>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">AirLine</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Duration </th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Air India</td>
                <td>14:00 Pune</td>
                <td>21h 30m</td>
                <td>12000 Rs.</td>
                <td><input style="background-color:rgb(155, 155, 199); width:100px" type="submit" value="book"></td>
              </tr>
              <tr>
                <td>Emirates</td>
                <td>05:00 Pune</td>
                <td>2h </td>
                <td>22000 Rs.</td>
                <td><input style="background-color:rgb(155, 155, 199); width:100px" type="submit" value="book"></td>
              </tr>
              <tr>
                <td>Vistara</td>
                <td>06:00 Pune</td>
                <td>10h 30m</td>
                <td>17000 Rs.</td>
                <td><input style="background-color:rgb(155, 155, 199); width:100px" type="submit" value="book"></td>
              </tr>
              <tr>
                <td>Qatar Airways</td>
                <td>08:00 Pune</td>
                <td>1h 30m</td>
                <td>25000 rs.</td>
                <td><input style="background-color:rgb(155, 155, 199); width:100px" type="submit" value="book"></td>
              </tr>
            </tbody>
          </table>
    </div>
        
</div>
