<html>
    <head>

    </head>
    <body style="margin-top: 100px;">
        <!-- <form method="POST">
            <button class="btn btn-primary" type="submit" (click)="getbooks()">Click Here To view Booked Flights</button>  -->
            <table class="table mx-3" border=1>
                <thead>
                    <tr>
                    <th scope="col">Departure</th>
                      <th scope="col">Arrival</th>
                      <th scope="col">Price</th>
                      <th scope="col">Duration </th>
                      <th scope="col">AirLine</th>
                      <th scope="col">Departure<br> Time</th>
                      <th scope="col">Arrival<br>Time</th>
                      
                     
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let notes of bookedflights">
                    <td>{{notes.Departure}}</td>
                    <td>{{notes.Arrival}}</td>
                    <td>{{notes.Price}}</td>
                    <td>{{notes.Duration}}</td>
                    <td>{{notes.AirLine}}</td>
                    <td>{{notes.DepartureTime}}</td>
                    <td>{{notes.ArrivalTime}}</td>
                    </tr>
                </table>
        <!-- </form> -->
        
    </body>
</html>

