<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row row-content">
        <div class="col-12">
            <h2 style="text-align:center">Destinations</h2>
            
            <div id="accordian">
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-2">
                        <h3>City Palace</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/city.jpg" >
                            <div class="media-body">
                                <p>City Palace has stood at the heart of the Old City of Jaipur for nearly three centuries, shortly after Maharaja Sawai Jai Singh II decided to relocate his court from the city of Amber. Protected by huge guard walls, the fairy-tale-like structure is still the home of Jaipur's modern-day royal family, and is more extravagant and enchanting than you might imagine.

                                    City Palace is more than a sand-colored regal abode—it's a sprawling complex of buildings built around a series of landscaped garden courtyards overlooking Jaipur and Lake Palace. The entire property is a stunning display of Rajasthani and Mughal architecture.
                                    
                                    The current occupants reside in the most eye-catching building, the Chandra Mahal, an elegant structure with curved eaves and domed rooftops. Each of its seven stories features an entirely different style. The ground floor is included in the price of admission, but you'll need to book a private tour to go upstairs.
                                    
                                    Other noteworthy places for sightseeing at City Palace include the Mubarak Mahal (Welcome Palace), which contains displays of dazzling costumes and textiles; the Armoury, a museum-like space dedicated to preserving finely crafted daggers and swords; Pritam Niwas Chowk (Peacock Courtyard), which has mesmerizing doorways painted to look like the feathers of its namesake bird; and Diwan-i-Am (Hall of Public Audience), which showcases the palace's exquisite collection of miniature paintings..</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-2">
                        <h3>Amber Fort</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/fort.jpg" >
                            <div class="media-body">
                                <p style="text-justify: auto;">
                                            Jaipur is home to one of India's most-visited forts: Amber Fort. Built in the year 1592, the sandstone and marble monolith stands atop a small hill roughly 20 minute's driving distance northeast of the center of Jaipur. It's best known for being a pristine example of Rajasthani architecture.

                                    Getting to Amber Fort typically involves a short uphill hike that's well worth the effort. It's decked out with intricate patterns of inlaid marble in nearly every color of the rainbow. The fort is laid out into four separate sections, each of which has a spectacular garden courtyard outside. While you'd never know it from above, you can actually explore the fort's underground tunnels, some of which have been restored.
                                    
                                    This UNESCO World Heritage Site has a fascinating history of legends, betrayals, and romance—but the best way for tourists to hear these stories is to hire a private guide at the Amber Fort.
                                    
                                    Address: Devisinghpura, Amer, Jaipur
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
                <!--<div class="card">
                    <div class="card-header" role="tab" id="agumbehead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#agumbe">
                        Thiruvannathpuram
                        </a>
                    </h3>
                    </div>
                    <div class="collapse show" id="agumbe" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-none d-sm-block">
                               
                                Called the ‘Evergreen city of India’, Thiruvananthapuram is the capital of the state of Kerala. The city comprises beautiful beaches, long stretches of palm fringed shorelines, windy backwaters and historical structures. Along with its natural and historical significance, the city is also popular for its ancient temples that are renowned for their architecture making Thiruvananthapuram one of the most visited pilgrim centers of India.</p>
                        </div>
                    </div>
                </div>-->
                <div class="">
                    <button class="btn btn-primary" style="margin-left:600px;" routerLink="/bookingpage">book your flight</button>
                </div>
            </div>   
        </div>
    </div>
</body>
</html>

