<div class="banner-area">

        <div class="title-area">
            <h1 class="H1-Main">ANDAMAN</h1>

            <p class="subtitle">Virgin Beauty of India<br>
                Explore the pristine beaches of Andaman
            </p> 
        </div>
    
    <div class="button-explore">
        <div class="button"><a id="btn" href="">Explore</a></div>
    </div>

    <div class="next-button"> 
        <a href=""></a>
        <div id="nxt-btn"></div>
    </div>

    <div class="images">

        <p id="ladakh">Kerala</p>
        <div class="Ladakh">
            
           
                <a routerLink='/home'>
                <img  id="Card-Ladakh" src="./assets/Images/Kerala.jpg" alt="">
                </a>

            
            
    
        </div>

        <p id="Andaman">Ladakh</p>
        <div class="Andaman">  

            
                <a routerLink='/ladakh'>
                <img id="Card-Andaman" src="./assets/Images/Card-Ladakh.jpg" alt="">
                </a>
            
           

        </div>

        <p id="Jaipur">Jaipur</p>
        <div class="Jaipur">

            
                <a routerLink='/jaipur'>
                <img id="Card-Jaipur" src="./assets/Images/Card-Jaipur.jpg" alt=""> 
                </a>
          
        

        </div>
    </div>


    <p id="k2">ANDAMAN</p>
</div>