<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row row-content">
        <div class="col-12">
            <h2 style="text-align:center">Destinations</h2>
            
            <div id="accordian">
                <div class="card">
                    <div class="card-header" role="tab" id="peterhead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#peter">
                        Munnar
                        </a>
                    </h3>
                    </div>
                    <div class="collapse show" id="peter" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-none d-sm-block">Known for its evergreen tea plantations, the hills of Munnar with their rolling beauty and charm can cast a magical spell on the visitors! While most of the hills are adorned with tea plantations, some are enchanted by mesmerising waterfalls, lush vegetation and lot more.Known for its alluring charm and appeal, Munnar wears a pleasant climate throughout the year. Among all the popular tourist destinations in Kerala, this is one such destinations that is known for the liveliness in its weather and climate.</p>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header" role="tab" id="dannyhead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#danny">
                        Kochi
                        </a>
                    </h3>
                    </div>
                    <div class="collapse show" id="danny" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-none d-sm-block">Kochi, in Kerala is spread over a series of islands and crisscrossed by the sea and backwaters. One can experience the perfect blend of old world charm, leisure and cosmopolitan culture here. Kochi has a typical tropical climate. Palm groves are in abundance here and they make quite a pretty sight, we must say. One can visit numerous places in and around Kochi, and trust us, you won’t have enough of this place, even then. Here’s a pictorial tour of Kochi, which will leave you spellbound. </p>
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-header" role="tab" id="agumbehead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#agumbe">
                        Thiruvannathpuram
                        </a>
                    </h3>
                    </div>
                    <div class="collapse show" id="agumbe" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-none d-sm-block">
                               
                                Called the ‘Evergreen city of India’, Thiruvananthapuram is the capital of the state of Kerala. The city comprises beautiful beaches, long stretches of palm fringed shorelines, windy backwaters and historical structures. Along with its natural and historical significance, the city is also popular for its ancient temples that are renowned for their architecture making Thiruvananthapuram one of the most visited pilgrim centers of India.</p>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</body>
</html>
