<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row row-content">
        <div class="col-12">
            <h2 style="text-align:center">Destinations</h2>
            
            <div id="accordian">
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h3>Munnar</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/munnar.jpg" >
                            <div class="media-body">
                                <p>Known for its evergreen tea plantations, the hills of Munnar with their rolling beauty and charm can cast a magical spell on the visitors! While most of the hills are adorned with tea plantations, some are enchanted by mesmerising waterfalls, lush vegetation and lot more.Known for its alluring charm and appeal, Munnar wears a pleasant climate throughout the year. Among all the popular tourist destinations in Kerala, this is one such destinations that is known for the liveliness in its weather and climate.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h3>Kochi</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/kochi.jpg" >
                            <div class="media-body">
                                <p>Welcomed by breathtaking backwaters, Kochi is a prime tourist destination in Kerala and hence it is better known as Kerala's most metropolitan city. 
                                    Kochi is an enchanting city that has an electrifying influence of the Arabs, British, Chinese and Portuguese intriguing mix culture and architecture.
                                    It is evident that who so ever will visit Kochi you will encounter popular tourism attraction of the beckoning past of heritage and culture. Kochi is surrounded by palm groves, green field, inland lakes, and backwaters that have enchanted visitors from across the globe for centuries.

                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
                <div class="">
                    <button class="btn btn-primary" style="margin-left:600px;" routerLink="/bookingpage">book your flight</button>
                </div>
            </div>   
        </div>
    </div>
</body>
</html>
