<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="banner-area">

        

        <div class="title-area">
            <p class="subtitle">BOOK  <br>
                    YOUR <br>
                    FLIGHT WITH US
            </p> 
        </div>
        <div class="image">
            <img id="map" src="./assets/Images/85.png">
        </div>
        
        <div class=booking>
            <div id="booking-form-box">
                <div id="subtitle-area"><p id="textarea">Book your Flight</p>
                </div><br><br><br>
                
<!--             
                        <form method="post" onsubmit="event.preventDefault() && getData()" >
                         <div class="row"> 
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Source</option>
                                        <option value="kerala">kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Andaman">Andaman</option>
                                        <option value="Jaipur">Jaipur</option>
                                    </select>
                                </div>
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box1">
                                        <option value="" disabled selected hidden>Destination</option>
                                        <option value="kerala">kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Andaman">Andaman</option>
                                        <option value="Jaipur">Jaipur</option>
                                    </select>
                                </div>
                             </div> 
                
                            <div class="row">
                                
                                
                            </div>
                            <div class="row">
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Class</option>
                                        <option value="First">Business</option>
                                        <option value="Elite">Elite</option>
                                    </select>
                                </div>
                                <div class="c2">
                                    <input  id="input-box1" (click)="getData()" type="submit" name="Search" value="Search"/>
                                    
                                </div>
                            </div>
                        </form> -->
                        <form>
                            <div class="row">
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                    <option value="" disabled selected hidden>Source</option>
                                    <option value="kerala">kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box1">
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option value="kerala">kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Class</option>
                                        <option value="First">Business</option>
                                        <option value="Elite">Elite</option>
                                    </select> 
                                </div>
                                <div class="col">
                                    <input  id="input-box1" (click)="getData()" type="submit" name="Search" value="Search"/>
                                </div>
                              </div>
                          </form>
                
            </div>
            
        </div>
    </div>

</body>
</html>
    