<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row row-content">
        <div class="col-12">
            <h2 style="text-align:center">Destinations</h2>
            
            <div id="accordian">
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h3>Pangong Tso</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/leh.jpg" >
                            <div class="media-body">
                                <p>Pangong Lake, one of the most famous lakes in Leh Ladakh, derives its name from the Tibetan word, “Pangong Tso”, which means “high grassland lake”. You could spend hours in contemplation here, and still not have enough of its beauty. Pangong Lake is also known to change colors, appearing blue, green and red at different times. If you have decided to go on a trip to Ladakh anytime soon, don’t forget to visit the Pangong Lake. The beauty which awaits you there cannot be described in words. It has to be seen, felt and absorbed within yourself.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row row-content align-items-center">
                    <div class="col-12 col-sm-4 order-sm-last col-md-3">
                        <h3>Markha Valley</h3>
                    </div>
                    <div class="col col-sm order-sm-first col-md">
                        <div class="media">
                            <img class="d-flex mr-3 img-thumbnail align-self-center"
                                    src="./assets/Images/Markha.webp" >
                            <div class="media-body">
                                <p>If camping is your thing then you won't find a better spot than at the Markha valley in Ladakh! You can trek up to some amazing sites such as Markha, Skiu and Hankar for starters. Once you reach the summit,
                                     you can unwind with some lovely tents, bonfire and make friends with strangers. Quite the deal, don't you think?
                                     The Markha valley is known for its panoramic views, its Tibetan Buddhist monasteries and remote villages. 
                                     The valley is a huge favourite among trekkers due to its easy accessibility from Leh. 
                                     he Markha village is situated in between Rumbak and Nimaling and is home to a long-abandoned, picturesque fort. Beyond Nimaling lies the Kongmaru La, the highest part of the trek.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
               
                <!--<div class="card">
                    <div class="card-header" role="tab" id="agumbehead">
                    <h3 class="mb-0">
                        <a data-toggle="collapse" data-target="#agumbe">
                        Thiruvannathpuram
                        </a>
                    </h3>
                    </div>
                    <div class="collapse show" id="agumbe" data-parent="#accordion">
                        <div class="card-body">
                            <p class="d-none d-sm-block">
                               
                                Called the ‘Evergreen city of India’, Thiruvananthapuram is the capital of the state of Kerala. The city comprises beautiful beaches, long stretches of palm fringed shorelines, windy backwaters and historical structures. Along with its natural and historical significance, the city is also popular for its ancient temples that are renowned for their architecture making Thiruvananthapuram one of the most visited pilgrim centers of India.</p>
                        </div>
                    </div>
                </div>-->
            </div>   
        </div>
    </div>
</body>
</html>

