
<!DOCTYPE html>
<html>

<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<!-- Including the bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
<header class="header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand">Safar<br>A Journey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/bookingpage'>Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/contactus'>ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/aboutus'>About Safar</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/mybookings'>My Bookings</a>
        </li> -->
        <li style="margin-left: 750px;" class="nav-item">
          <a class="nav-link" routerLink='/login'><i class="fa fa-sign-in"></i><span class="mx-2">login</span></a>
        </li>
        <li style="float:right" class="nav-item">
          <a class="nav-link" routerLink='/profile'><i class="fa fa-users"></i><span class="mx-2">My Profile</span></a>
        </li>
      </ul>
    </div>
  </nav>  
  
</header>
         
         
          
        <router-outlet>
          
        </router-outlet>
       
     
</body>

</html>
<!-- <app-footer></app-footer> -->

