<div class="banner-area">

    <nav class="Nav-Bar">
        <ul>
            <li><a href="flight.html">Flight</a></li>
            <li><a href="">Destination</a></li>
            <li><a href="">Stay</a></li>
        </ul>
    </nav>

    <div class="logo-area">
        <p id="L1">SAFAR</p>
        <p id="L2">A journey</p>
    </div>

        <div class="title-area">
            <h1 class="H1-Main">LADAKH</h1>

            <p class="subtitle">Crown of India<br>
                Explore the mist of Ladakh
            </p> 
        </div>
    
    <div class="button-explore">
        <div class="button"><a id="btn" href="">Explore</a></div>
    </div>

    <div class="next-button"> 
        <a href=""></a>
        <div id="nxt-btn"></div>
    </div>

    <div class="images">

        <p id="ladakh">Jaipur</p>
        <div class="Ladakh">
            
            <p>
                <a routerLink='/jaipur'>
                <img  id="Card-Ladakh" src="./assets/Images/Card-Jaipur.jpg" alt="">
                </a>

            </p>
            
    
        </div>

        <p id="Andaman">Andaman</p>
        <div class="Andaman">  

            <p>
                <a routerLink='/andaman'>
                <img id="Card-Andaman" src="./assets/Images/Card-Andaman.jpg" alt="">
                </a>

            </p>
           

        </div>

        <p id="Jaipur">Kerala</p>
        <div class="Jaipur">   

            <p> 
                <a routerLink='/home'>
                <img id="Card-Jaipur" src="./assets/Images/Kerala.jpg" alt=""> 
                </a>

            </p>

            

        </div>
    </div>


    <p id="k2">LADAKH</p>
</div>

