<div class="banner-area">

        <div class="title-area">
            <h1 class="H1-Main">JAIPUR</h1>

            <p class="subtitle">The City of Kings<br>
                Live the royal life of kings
            </p> 
        </div>
    
    <div class="button-explore">
        <div class="button"><a id="btn" href="">Explore</a></div>
    </div>

    <div class="next-button"> 
        <a href=""></a>
        <div id="nxt-btn"></div>
    </div>

    <div class="images">

        <p id="ladakh">Andaman</p>
        <div class="Ladakh">
            
                <a routerLink='/andaman'>
                <img  id="Card-Ladakh" alt="">
                 </a>

           
            
    
        </div>

        <p id="Andaman">Kerala</p>
        <div class="Andaman">  

            
                <a routerLink='/home'>
                <img id="Card-Andaman" alt="">
                </a>
            
            

        </div>

        <p id="Jaipur">Ladakh</p>
        <div class="Jaipur">

            
                <a routerLink='/ladakh'>
                <img id="Card-Jaipur" alt=""> 
                </a>
            
            
        </div>
    </div>


    <p id="k2">JAIPUR</p>
</div>
