@font-face {
  font-family: pertibd;
  src: url(../Fonts/pertibd.ttf);
}
@font-face {
  font-family: Philosopher-Regular;
  src: url(../Fonts/Philosopher/Philosopher-Regular.ttf);
}
body {
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}

.Title {
  font-size: 48px;
  font-family: pertibd;
  color: #17183b;
}

.Title-Container {
  margin-left: 50px;
  margin-top: 100px;
}

.subtitle {
  font-size: 28px;
  font-family: Philosopher-Regular;
  color: #17183b;
}

.signup {
  margin-left: 50px;
  margin-top: 10px;
  font-family: Philosopher-Regular;
  
}

.signup input {
  width: 50%;
}

.signup button {
  margin-top: 25px;
}

.login-link {
  font-family: Philosopher-Regular;
  margin-left: 50px;
  margin-top: 12px;
}
.login-form{
  border:1px solid black;
}

