<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> 
<body>  

    <div class="Title-Container">

        <div class="Title">Sign Up</div>    
        <div class="subtitle">Welcome to Safar !! </div>
        

    </div>
        
    <form class="signup" method="POST">

        <div class="form-group2">
        <label for="username" name="username" id="username">Username</label>
        <input type="text" class="form-control" id="username1" placeholder="Username">
        </div>
        <div class="form-group1">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group2">
          <label for="exampleInputPassword1" name="password" id="password">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

       

        <button type="submit" (click)="registeruser()" class="btn btn-primary">Submit</button>

    </form>

      <div class="login-link">
          <p>Already Have an Account ? <a routerLink='/login'>Login here</a> </p>
      </div>
    
</body>
</html>