<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="topheadercontainer">
        
        <div class="leftheader">
            <p id="H1">Help Center</p>
            <p id="H2">We are here to help you</p>
        </div>
        

        
        <div class="wrapper">

            <div class="wrapperchild">
                <p id="H3">Manage your flights</p>
                <button class="btn"> <a id="btnlink" href="">Bookings</a></button>
            </div>

        </div>
            
    </div>

    <div class="QTitle">
        <p id="H4">Select Query Type</p>
    </div>


    <div>
        <div class="booking-query">
            <p id="H7">
                <a id="H7a" href="footer.html"> Booking Related Queries </a>  
            </p>
        </div>
    </div>

    <div>
        <div class="about-safar">
            <p id="H8">
                <a id="H8a" href="footer.html">Non-Booking Related Queries </a>  
            </p>
        </div>
    </div>


    <div>    
        <div class="faq">
            <p id="H6">
                <a id="H6a" href="footer.html"> Frequently Asked Questions </a>  
            </p>
        </div>

      <!--   <div class="next-btn">
            <img src="Icons/Icon ionic-ios-arrow-forward.png" alt="">
        </div> -->
    </div>

    
    
    

    <div class="postallink">
        <p id="H5">Want to reach us old style?Here is our <br> <a id="H5a" href="">postal address</a></p>
    </div>

    

    
</body>
</html>







