<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner-area">
        <div class="title-area">
            <h1 class="H1-Main">KERALA</h1>
    
            <p class="subtitle">God's Own City  <br>
                Explore Kerala's beautiful vicinity
            </p> 
        </div>
    
        <div class="button-explore">
            <div class="button"><a id="btn" routerLink='destination' routerLinkActive="active-link">Explore</a></div>
        </div>
    
    
        <div class="images">
    
            <p id="ladakh">Ladakh</p>
        
                <div class="Ladakh">
                    
                    <a routerLink='/ladakh'>
                    <img  id="Card-Ladakh" src="./assets/Images/Card-Ladakh.jpg" alt=""/>
                </a>
            
                </div>
       
        
    
            <p id="Andaman">Andaman</p>
            
                <div class="Andaman">  
                    <a routerLink='/andaman'>
                    <img id="Card-Andaman" src="./assets/Images/Card-Andaman.jpg" alt=""/>
                    </a>
                </div>
    
    
        
        
            <p id="Jaipur">Jaipur</p>
            <div class="Jaipur">
    
            
                    <a routerLink='/jaipur'>
                    <img id="Card-Jaipur" src="./assets/Images/Card-Jaipur.jpg" alt=""/> 
                    </a>
            </div>
        </div>
    
        
        <p id="k2">KERALA</p>
    
    </div>
    
    
    
</body>
</html>
    
    
