<div class="banner-area">
            
    <img src="../Images/down.jpg">
    <div class="title-area">
        <h1 class="H1-Main">KERALA</h1>

        <p class="subtitle">God's Own City  <br>
            Explore Kerala's beautiful vicinity
        </p> 
    </div>

    <div class="button-explore">
        <div class="button"><a id="btn" routerLink='/booking'>Explore</a></div>
    </div>

    <div class="next-button"> 
        <a href=""></a>
        <div id="nxt-btn"></div>
    </div>

    <div class="images">

        <p id="ladakh">Ladakh</p>
    
            <div class="Ladakh">
                
                <a routerLink='/ladakh'>
                <img  id="Card-Ladakh" alt=""/>
            </a>
        
            </div>
   
    

        <p id="Andaman">Andaman</p>
        
            <div class="Andaman">  
                <a routerLink='/andaman'>
                <img id="Card-Andaman" alt=""/>
                </a>
            </div>


    
    
        <p id="Jaipur">Jaipur</p>
        <div class="Jaipur">

        
                <a routerLink='/jaipur'>
                <img id="Card-Jaipur" alt=""/> 
                </a>
        </div>
    </div>

    
    <p id="k2">KERALA</p>

</div>