
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="banner-area">

        

        <div class="title-area">
            <p class="subtitle">BOOK  <br>
                    YOUR <br>
                    FLIGHT WITH US
            </p> 
        </div>
        <div class="image">
            <img id="map" src="./assets/Images/85.png">
        </div>
        
        <div class=booking>
            <div id="booking-form-box">
                <div id="subtitle-area"><p id="textarea">Search your Flight</p>
                </div><br><br><br>
                
<!--             
                        <form method="post" onsubmit="event.preventDefault() && getData()" >
                         <div class="row"> 
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Source</option>
                                        <option value="kerala">kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Andaman">Andaman</option>
                                        <option value="Jaipur">Jaipur</option>
                                    </select>
                                </div>
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box1">
                                        <option value="" disabled selected hidden>Destination</option>
                                        <option value="kerala">kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Andaman">Andaman</option>
                                        <option value="Jaipur">Jaipur</option>
                                    </select>
                                </div>
                             </div> 
                
                            <div class="row">
                                
                                
                            </div>
                            <div class="row">
                                <div class="c2">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Class</option>
                                        <option value="First">Business</option>
                                        <option value="Elite">Elite</option>
                                    </select>
                                </div>
                                <div class="c2">
                                    <input  id="input-box1" (click)="getData()" type="submit" name="Search" value="Search"/>
                                    
                                </div>
                            </div>
                        </form> -->
                        
                        <form  method="get" onsubmit="event.preventDefault()" >
                            <div class="row">
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                    <option value="" disabled selected hidden>Source</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box1">
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col">
                                    <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                        <option value="" disabled selected hidden>Class</option>
                                        <option value="First">Business</option>
                                        <option value="Elite">Elite</option>
                                    </select> 
                                </div> -->
                                <div class="col-md-9 text-center">
                                    <input  id="input-box2" (click)="getData()" type="submit" name="Search" value="Search"/>
                                </div>
                            </div>
                          </form>
                
            </div>
            <div *ngIf="showMe">
                 <!--#bookForm="ngForm" (ngSubmit)="booking(bookForm)"-->
                <form method="POST">
                    <table class="table mx-3" border=1>
                        <thead>
                            <tr>
                            <th scope="col">Departure</th>
                              <th scope="col">Arrival</th>
                              <th scope="col">Price</th>
                              <th scope="col">Duration </th>
                              <th scope="col">AirLine</th>
                              <th scope="col">Departure<br> Time</th>
                              <th scope="col">Arrival<br>Time</th>
                              
                             
                              <th></th>
                            </tr>
                          </thead>
                        <!-- <td *ngFor="let s of flights">
                            
                            {{s}}
                            
                        </td> -->
                        <tr>
                            <!-- <input type="text" readonly id="source" name="source"
                                value={{flights[0]}}
                            />
                            <input type="text" readonly  name="source"
                            value={{flights[0]}}
                        />
                        <input type="text" readonly  name="source"
                        value={{flights[0]}}
                    />
                    <input type="text" readonly  name="source"
                    value={{flights[0]}}
                />
                <input type="text" readonly  name="source"
                value={{flights[0]}}
            />
            <input type="text" readonly name="source"
            value={{flights[0]}}
        /> -->
                         <td  ><input style="width:93px" type="text" name="Departure" id="Departure"
                            value="{{flights[0]}}"
                        /></td>
                        <td >
                            <input style="width:93px" type="text" name="Arrival" id="Arrival"
                            value="{{flights[1]}}"
                            />
                        </td>
                        <td>
                            <input style="width:73px" type="text" name="Price" id="Price"
                            value="{{flights[2]}}"
                        />
                        </td>
                        <td>
                            <input style="width:83px" type="text" name="Duration" id="Duration"
                            value="{{flights[3]}}"
                        />
                        </td>
                        <td>
                            <input style="width:78px" type="text" name="AirLine" id="AirLine"
                            value="{{flights[4]}}"
                        />
                        </td>
                        <td>
                            <input style="width:73px" type="text" name="DepartureTime" id="DepartureTime"
                        value="{{flights[5]}}"
                        />
                        </td>
                        <td>
                            <input style="width:73px" type="text" name="ArrivalTime" id="ArrivalTime"
                        value="{{flights[6]}}"
                        />
                        </td>
                        <td>
                            <button class="btn btn-success" type="submit" (click)="booking()">book</button> 
                        </td>
                           
                        </tr>
                        
                        
                    </table>
                </form>
            
            </div>
           
                
             
            
        </div>
    </div>

</body>
</html>
    