
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="banner-area">
        <div class="title-area">
            <p class="subtitle">BOOK  <br>
                    YOUR <br>
                    FLIGHT WITH US
            </p> 
        </div>
        <div class="image">
            <img id="map" src="./assets/Images/85.png">
        </div>
        
        <div class=booking>
            <div id="booking-form-box">
                <div id="subtitle-area"><p id="textarea">Search your Flight</p>
                </div><br><br><br>

                        
                        <form  method="get" onsubmit="event.preventDefault()" >
                            <div class="row">
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box">
                                    <option value="" disabled selected hidden>Source</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                              <div class="col">
                                <select name="category" aria-placeholder="Traveller&Class" id="input-box1">
                                    <option value="" disabled selected hidden>Destination</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Ladakh">Ladakh</option>
                                    <option value="Andaman">Andaman</option>
                                    <option value="Jaipur">Jaipur</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                            
                                <div class="col-md-9 text-center">
                                    <input class="btn btn-success" id="input-box2" (click)="getData()" type="submit" name="Search" value="Search"/>
                                </div>
                            </div>
                          </form>
                
            </div>
            <div *ngIf="showMe" >
                 
                <form method="POST">
                    <table class="table mytable" border=1 style="border:1px solid black;">
                        <thead>
                            <tr>
                            <th scope="col">Departure</th>
                              <th scope="col">Arrival</th>
                              <th scope="col">Price</th>
                              <th scope="col">Duration </th>
                              <th scope="col">AirLine</th>
                              <th scope="col">Departure<br> Time</th>
                              <th scope="col">Arrival<br>Time</th>
                              
                             
                              <th></th>
                            </tr>
                          </thead>
                       
                        <tr>
                            
                         <td  ><input style="width:93px; border:none" type="text" name="Departure" id="Departure" readonly
                            value="{{flights[0]}}"
                        /></td>
                        <td >
                            <input style="width:93px; border:none" type="text" name="Arrival" id="Arrival" readonly
                            value="{{flights[1]}}"
                            />
                        </td>
                        <td>
                            <input style="width:73px; border:none" type="text" name="Price" id="Price" readonly
                            value="{{flights[2]}}"
                        />
                        </td>
                        <td>
                            <input style="width:88px; border:none" type="text" name="Duration" id="Duration" readonly
                            value="{{flights[3]}}"
                        />
                        </td>
                        <td>
                            <input style="width:88px; border:none" type="text" name="AirLine" id="AirLine" readonly
                            value="{{flights[4]}}"
                        />
                        </td>
                        <td>
                            <input style="width:73px; border:none" type="text" name="DepartureTime" id="DepartureTime" readonly
                        value="{{flights[5]}}"
                        />
                        </td>
                        <td>
                            <input style="width:73px; border:none" type="text" name="ArrivalTime" id="ArrivalTime" readonly
                        value="{{flights[6]}}"
                        />
                        </td>
                        <td>
                            <button class="btn btn-success" type="submit" (click)="booking()">book</button> 
                        </td>
                           
                        </tr>
                        
                        
                    </table>
                </form>
            
            </div>
           
                
             
            
        </div>
    </div>

</body>
</html>
    